<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634526011599-3qq9l2iooipbjce8peb700e5m5jfrnmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634526011599-3qq9l2iooipbjce8peb700e5m5jfrnmv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>634526011599-72mcl2ff64l2pfakbokv8o4r4499ibom.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2qpthRZMkn6hgmvE10qVNoxcMqDZXYvc</string>
	<key>GCM_SENDER_ID</key>
	<string>634526011599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>xenonserviceexchange</string>
	<key>STORAGE_BUCKET</key>
	<string>xenonserviceexchange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634526011599:ios:227cf28f5b2fa2e4d3a7ba</string>
	<key>DATABASE_URL</key>
	<string>https://xenonserviceexchange.firebaseio.com</string>
</dict>
</plist>